<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Random shit", 'http://www.randomshit.com/go.php?site=PW6Lgvr8HBEUzGk2KFAb7wBqHFPJQORE' %></li>
    </ul>
  </nav>
</footer>